__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env
.venv/
venv/

# VS Code
.vscode/
.idea/
env/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Spark
spark-warehouse/
metastore_db/

# Spark CRC files
*.crc

# Great Expectations
great_expectations/uncommitted/

# -------------------------------------------------
# Generated Pipeline Data
# -------------------------------------------------


# Bronze incremental outputs
data/bronze/incremental/

# Silver generated outputs
data/silver/*.csv

# Gold generated outputs
data/gold/*.csv

# Processed incremental batches
data/processed/

# Exported reports/files
data/exports/

# -------------------------------------------------
# Runtime Logs
# -------------------------------------------------

logs/

# -------------------------------------------------
# Coverage Reports
# -------------------------------------------------
htmlcov/
.coverage
.coverage.*
coverage.xml

# -------------------------------------------------
# Code Quality Cache
# -------------------------------------------------
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# -------------------------------------------------
# Build Artifacts
# -------------------------------------------------
*.egg-info/
build/
dist/
*.egg
